{% extends "base.html.tera" %}

{% block title -%} Your Account {%- endblock %}

{% block content %}
  <h1>Account</h1>
  <p>Logged in as {{ user.sub }}</p>
  <a href="{{ base_path }}/logout">Logout</a>
{% endblock %}